@charset "UTF-8";

body{
  overflow-x: hidden;
}

.divisor {
  height: 200px;
}

.tableDivisor {
  height: 80px;
}

.sectionTitle{
  color: #707070;
  opacity: 80%;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  
}

.sectionHighlighter{
  color: #8089DF;
}

.sectionDivider{
  color:#65BCE9;
  font-weight: 3px;
  text-align: center;
}

.listElement {
  font-weight: bold;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color :#707070;
  opacity: 75%;
  margin: 32px;
  list-style: none;
  float: left;
}

.listElement:hover {
  color :#65BCE9;
  opacity: 75%;
}

.socialMediaNavBar{
  margin: 40px;
  color: #FFFFFF;
  opacity: 80%;
  float: right;
}

.socialMediaNavBar:hover {
  color: #FFFFFF;
  opacity: 90%;
}

.rectangle{
  margin-left: 21px;
  margin-right: 21px;
}

.firstRectangle {
  position: absolute;
  top: -258px;
  right: -248px;
}

.leftRectangle {
  position: absolute;
  top: -251px;
}

.rigthRectangle {
  position: absolute;
  top: 426px;
  right: -270px;
}

.bigCircle{
  color: #FFFFFF;
  position: absolute;
  top: 205px;
  right: 276px;
}

.smallCircle{
  color: #FFFFFF;
  position: absolute;
  top: 236px;
  right: 303px;
}

.profilePicture{
  border-radius: 50%;
  width: 350px;
  height: 350px;
  position: absolute;
  top: 277px;
  right: 342px;
}

.main{
  margin-top: 200px;
  margin-left: 50px;
}

.mainText {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  color: #707070;
  margin: 12px;
}

.mainTitle {
  font-size: 52px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #707070;
}

.name {
  color: #8089DF;
}

.workExpirenceSection{
  margin-top: 243px;
}

.workImages{
  float: left;
}

.bigWave {
  width: 725px;
  height: 733px;
  margin-left: -10px;
}

.smallWave {
  width: 671px;
  height: 711px;
  margin-left: -750px;
}

.workLogo{
  width: 500px;
  height: 500px;
  left: 37px;
  position: absolute;
  top: 1329px;
}

.workText {
  margin-top: 180px;
  margin-right: 218px;
  float: right;
}

.workTitle{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #8089DF;
}

.skillsToolsSection {
  margin-top: 88px;
  height: 768px;
  width: 100%;
  background-color: #F8F5F5;
}

.skillAreas{
  margin-bottom: 80px;
}

.area{
  border: #65BCE9 1px solid;
  width: 290px;
  height: 381px;
  margin-left: 80px;
  display: inline-block;
}