@charset "UTF-8";

.listElement {
  font-weight: bold;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color :#707070;
  opacity: 75%;
  margin: 32px;
  list-style: none;
  float: left;
}

.listElement:hover {
  color :#65BCE9;
  opacity: 75%;
}

.socialMediaNavBar{
  height: 32px;
  margin: 40px;
  color: #FFFFFF;
  opacity: 80%;
  float: right;
}

.socialMediaNavBar:hover {
  color: #FFFFFF;
  opacity: 90%;
}

