@charset "UTF-8";

body{
  overflow-x: hidden;
  margin: 0;
}

.divisor-80 {
  height: 80px;
}

.divisor-200 {
  height: 200px;
}

.divisor-600 {
  height: 600px;
}

.alert {
  padding: 20px;
  background-color: #8089DF;
  color: white;
  opacity: 78%;
  border-bottom-right-radius: 2%;
  width: 45%;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.sectionTitle{
  color: #707070;
  opacity: 80%;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  
}

.sectionHighlighter{
  color: #8089DF;
}

.sectionDivider{
  color:#65BCE9;
  font-weight: 3px;
  text-align: center;
}

.lineSpacer {
  line-height : 60px;
}

.listElement {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color :#707070;
  opacity: 75%;
  margin: 32px;
  list-style: none;
  float: left;
}

.listElement:hover {
  color :#65BCE9;
  opacity: 75%;
}

.socialMediaContainer{
  position: absolute; 
  top: 41px;
  right: 9px;
  z-index: 1;
}

.socialMediaNavBar{
  margin: 40px;
  color: #FFFFFF;
  opacity: 80%;
  font-size: 32px;
}

.socialMediaNavBar:hover {
  color: #FFFFFF;
  opacity: 90%;
}

.rectangle{
  margin-left: 21px;
  margin-right: 21px;
}

.firstRectangle {
  position: absolute;
  top: -258px;
  right: -200px;
}

.leftRectangle {
  /* width: 150px;
  height: 200px; */
  position: absolute;
  top: -251px;
}

.rigthRectangle {
  position: absolute;
  top: 426px;
  right: -270px;
}

.bigCircle{
  color: #FFFFFF;
  position: absolute;
  top: 205px;
  right: 276px;
}

.smallCircle{
  color: #FFFFFF;
  position: absolute;
  top: 236px;
  right: 303px;
}

.profilePicture{
  border-radius: 50%;
  width: 350px;
  height: 350px;
  position: absolute;
  top: 277px;
  right: 342px;
}

.main{
  margin-top: 200px;
  margin-left: 50px;
}

.mainText {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #707070;
  margin: 12px;
}

.mainTitle {
  font-size: 52px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #707070;
}

.name {
  color: #8089DF;
}

.workExpirenceSection{
  margin-top: 243px;
}

.workImages{
  position: relative;
}


.smallWave {
  margin-left: -750px;
}

.workLogo{
  width: 500px;
  height: 500px;
  position: relative;
  top: -81px;
  left: -600px;
}

.workText {
  margin-top: -545px;
  margin-right: 106px;
  float: right;
}

.workTitle{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #8089DF;
}

.skillsToolsSection {
  margin-top: 88px;
  height: 768px;
  width: 100%;
  background-color: #F8F5F5;
}

.skillAreas{
  margin-top: 80px;
  margin-bottom: 80px;
}

.area{
  width: 290px;
  height: 381px;
  border-radius: 30px;
  background-color:  #FFFFFF;
  opacity: 80%;
}

.areasContainer{
  width: 100%;
  display: inline-flex;
}

.left{
  float:left;
  margin-left: 400px;
}

.right{
  float:right;
  margin-right: 400px;
}

.center{
  margin:0 auto;
}

.iconMargin {
  margin: 24px;
}

.areaIcon {
  width: 100px;
  height: 100px;
  margin-left: 68px;
}

.areaTitle {
  margin: 25px;
  color: #65BCE9;
  opacity: 80%;
}

.areaList{
  text-align: center;
}

.areaListElement{
  list-style: none;
  margin-right: 35px;
  Color:#707070;
  opacity: 80%;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  line-height : 40px;
}

.projectsSection{
  margin-top: 100px;
}

.projectContainer{
  margin: auto;
  width: 50%;
  height: 1000px;
  text-align: center;
}

.projectImage {
  opacity: 97%;
  border-radius: 20px;
  width: 900px;
  height: 442px;
  position: relative;
  top: 36px;
  z-index: 2;
}

.projectWave{
  position: relative;
  top: -330px;
  z-index: 1;
}

.projectDescriptionContainer{
  width: 525px;
  height: 573px;
  background-color: #FFFFFF;
  border-radius: 5px;
  position: relative;
  z-index: 3;
  top: -1060px;
}

.projectTitle{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #707070;
  opacity: 80%;
  margin-top: 80px;
}

.projectStatus{
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #707070;
  opacity: 80%;
  margin-top: 40px;
}

.projectDescription{
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #707070;
  opacity: 80%;
  margin: 32px 10px 0px 10px;
  line-height : 43px;
}

.projectTechnologies{
  font-family: 'Roboto', sans-serif;
  margin-top: 32px;
  font-size: 28px;
  font-weight: bold;
  color: #51E1A7;
  line-height : 43px;
  opacity: 80%;
}

.footer {
  height: 464px;
  width: 100%;
  background-color: #F8F5F5;
  display: inline-flex;
  padding-top: 100px;
}

.contact{
  display: inline;
  margin-top: -104px;
  margin-left: 100px;
}

.contactTitle{
  font-family: 'Nunito', sans-serif;
  font-size: 48px;
  color:#707070;
  opacity: 80%;
  margin-top: 146px;
  margin-left: 25px;
  text-align: left;
}

.socialMediaFooter {
  margin: 32px;
  color: #000000;
  opacity: 75%;
  font-size: 64px;;
}

.contactForm {
  background-color:#51E1A7;
  opacity: 96%;
  width :759px;
  height: 668px; 
  border-radius: 10px;
  float: right;
  margin-top: -287px;
  margin-left: 364px;
}

.firstFieldSpace {
  margin-top: 54px;
}

.fieldsSpace{
  margin-top: 24px;
}

.formFields{
  border:none;
  margin-left: 130px;
  margin-right: 130px;
  border-radius: 5px;
}

.inputSize {
  width: 500px;
  height: 30px;
}

.textAreaSize {
  width: 500px;
  height: 214px;
  resize: none;
}

.formText{
 font-Family: 'Roboto', sans-serif;
 font-size: 24px;
 color:#000000;
 padding-top: 16px;
 padding-bottom: 16px;
 padding-left: 16px;
}

.formButton {
 margin-top: 32px;
 margin-left: 130px;
 margin-right: 130px;
 margin-bottom: 50px;
 background-color: #8089DF;
 width: 300px;
 height: 62px;
 border-color: #FFFFFF;
 border-radius:10px;
 font-family: 'Roboto', sans-serif;
 font-size: 32px;
 color:#FFFFFF;
 opacity: 90%;
}